<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="./styles/forgot_password.css">
    {{>favicon}}
    <link rel="icon" href="/images/fevicon.png" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdn.jsdelivr.net/npm/axios@1.6.7/dist/axios.min.js"></script>
        
</head>
<body>

    <div class="container">
        <h2>Forgot Password</h2>
        <form action="/reset-password" method="POST">
            <div class="input-group username-input">
                <label for="register-email">Username</label>
                <input type="text" placeholder="Enter Username"id="username" name="username" required>
            </div>
            <div class="input-group email-input hidden">
                <label for="username">Enter Registered Email</label>
                <input type="email" placeholder="Enter Email"id="email" name="email" required>
            </div>
            <div class="input-group otp-input hidden">
                <label for="register-password">OTP</label>
                <input type="text"placeholder="Enter OTP" id="otp" name="otp">
            </div>
            <div class="input-group password-input hidden">
                <label for="register-password">Create New Password</label>
                <input type="password"placeholder="Enter New password" id="password" name="password" required>
                <i id="hide-password1" class="fa fa-eye-slash" style="font-size:34px; color:rgb(255, 255, 255); cursor:pointer;"></i>
            </div>
            <div class="input-group cpassword-input hidden">
                <label for="register-password">Confirm Password</label>
                <input type="password"placeholder="confirm your password" id="cpassword" name="cpassword" required>
                <i id="hide-password2" class="fa fa-eye-slash" style="font-size:34px; color:rgb(255, 255, 255); cursor:pointer;"></i>
            </div>
            <!-- <label for="email" aria-placeholder="username">Enter your username</label>
            <input type="email" id="email" name="email" required> -->
            <button id="send-otp" type="button">Send OTP</button>
            <button id="check-otp" class="hidden" type="button">Verify</button>
            <button id="change-password" class="hidden" type="button">Change Password</button>
        </form>
        <div class="footer">
            {{!-- <p class="Resend_otp hidden">Resend OTP <a class="links resend_otp_link">Click here</a></p> --}}
            <p class="forgot_your_username">forgot your username? <a class="links btn-switch">Click here</a></p>
            <p>Remember your password? <a class="links" href="./login.html">Login </a></p>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="/scripts/forgot_password.js"></script>

</body>
</html>