body {
    font-family: Arial, sans-serif;
    background-color: #2b2828;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: cover; /* Ensures the background image scales */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-position: center; /* Centers the background image */
    /* border: 100px solid black; */

}
header {
    position: relative;
}
.logo {
    position: absolute;
    top: -350px;
    border-radius: 5%;
    /* bottom: 10px; */
    left: -350px;
    width: 200px; /* Adjust the size as needed */
    height: auto;
    margin: 10px; /* Optional: adds some spacing from the edges */
    
    /* background-image: url("public/images/logo.png"); */
   
    /* width:100px; */
    /* length */
     /* Prevents the image from repeating */
    /* margin:10px auto; */
    /* background-position: center; Centers the background image */
    border: 1px solid black;
}
.logo:hover{
    cursor:pointer;
}
.container {
    background-color: #060505;
    padding: 20px 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(17, 17, 17, 0.1);
    
    width: 35%;
    text-align: center;
    box-sizing: border-box;
}
h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #aeaaaa;
}
label {
    display: block;
    margin-bottom: 10px;
    color: #ddd8d8;
}
/* input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
} */
.input-group {
    margin-bottom: 15px;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

.input-group input {
    width: 80%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}
button {
    width: 50%;
    padding: 10px;
    background-color: #28a745;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
}
button:hover {
    background-color: #218838;
}
.footer {
    text-align: center;
    margin-top: 20px;
    color: #666;
}
.footer a {
    color: #007bff;
    text-decoration: none;
}
.footer a:hover {
    text-decoration: underline;
}
.footer-1 {
    text-align: center;
    margin-top: 20px;
    color: #666;
}
.footer-1 a {
    color: #007bff;
    text-decoration: none;
}
.footer-1 a:hover {
    text-decoration: underline;
}
.hidden{
    display:none;
}
.links{
    cursor: pointer;
}